html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 60px; /* footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* footer height */
    line-height: 60px;
}