.navbar-toggler {
    border: none;
}

.nav-link {
    font-size: 1.05em;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.navbar-brand {
    font-size: 1.3em;
}

.active {
    border-left: 1px #444 solid
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url("img/image-1.jpg");
    background-size: cover;
    background-position: center;
}

.carousel-image-2 {
    background: url("img/image-2.jpg");
    background-size: cover;
    background-position: center;
}

.carousel-image-3 {
    background: url("img/image-3.jpg");
    background-size: cover;
    background-position: center;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.dark-overlay-2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

#home-icons .fa {
    font-size: 4em;
}

#home-heading {
    background: url("img/city.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#video-section .fa {
    font-size: 2.5em;
}

#video-section {
    background: url("img/city-cartoon.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer {
    background-color: #000;
    color: white;
}

footer p {
    position: relative;
    top:25%
}

#about-header {
    height: 200px;
    color: white;
    background: url('https://picsum.photos/500?image=53');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px #eee solid;
}

#about-main img {
    margin-top: -50px;
}

#about-icons i {
    font-size: 4em
}

#services-header {
    height: 200px;
    color: white;
    background: url('https://picsum.photos/500?image=33');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px #eee solid;
}

#blog-header {
    height: 200px;
    color: white;
    background: url('https://picsum.photos/500?image=13');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px #eee solid;
}

#contact-header {
    height: 200px;
    color: white;
    background: url('https://picsum.photos/500?image=103');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px #eee solid;
}

@media (max-width:768px) {
    .nav-item {
        width: 125px;
        margin: 0 auto;
    }
}